:root{
    --main-color: #212121;
    --titel-color: #757575;
    --main-background: #ffffff;
    --footer-background: #2F303A;
    --logo-blue: #2196F3;
    --logo-black: #000;
    --background-titel-button: #188CE8;
    --btn-sections: #F5F4FA;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    
}

body {
    font-family: var(--main-font);
    background-color:  var(--main-background);
    color: var(--main-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-btn{
    justify-content: center;
    margin-bottom: 50px;
}
.list-footer{
    list-style: none;

}
.logo-main{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    }

.logo-blue {
    color: var(--logo-blue);
}

.logo-black {
    color: var(--logo-black);
}

.logo-white{
    color: var(--main-background);
}

.menu-nav {
    display: flex;
    align-items: center;
 }

.nav{
    margin-right: 50px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation{
    margin-left: 93px;
 }
.nav:last-child{
    margin-right: 0;
}
.menu-link{
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus{
    color: var(--logo-blue);
}

.navigation .menu-link.current {
    color: var(--logo-blue);
}

.header{
    border-bottom: 1px solid #ECECEC;
}

.header-contacts {
    color: var(--titel-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none; 
}

.contacts {
    margin-left: auto;
}

#header-tel {
    margin-left: 50px;
}
.header .container{
    display: flex;
    align-items: center;

}
.header-contacts:hover,
.header-contacts:focus {
    color: var(--logo-blue);
}

.main-titel {
    color: var(--main-background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    letter-spacing: 0.06em;
    text-transform:uppercase;
}
    
.titel-button { 
    color: var(--main-background);
    border: none;
    background-color: var(--logo-blue);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.06em;
    line-height: 1.875;
}

.titel-button:hover, 
.titel-button:focus {
    background-color: var(--background-titel-button);
}

.order-titel { 
    background-color: var(--footer-background);
    padding: 200px 0px 200px 0px;
    text-align: center;
}
.main-adventage{
    width: 270px;
    margin-right: 30px;
}
.main-adventage:nth-child(4n) {
    margin-right: 0;
}
.advantage {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
}

.advantage-text {
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--titel-color);
}

.product {
    background-color: var(--btn-sections); 
}
.products{
    padding-top: 0;
}
.product-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    text-align: center;
}

.product-work{
    margin-right: 30px;
}

.product-work:nth-child(3n){
    margin-right: 0px;
}

.product-name{
    width: 270px;
    margin-right: 30px;
}

.product-name:nth-child(4n){
    margin-right: 0px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    text-align: center;
}

.work {
    font-size: 16px;
    line-height: 1.19;
    color: var(--titel-color);
    text-align: center;
    margin-bottom: 30px;
}

.name-work{
background-color: #ffffff;
padding-top: 30px;
padding-bottom: 30px;
}

.footer {
    background-color: var(--footer-background);
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-contacts-city {
    color: var(--main-background);
    text-decoration: none;
    font-style: normal;
}

address{
    margin-top: 20px;
}

.footer-contacts-city:hover,
.footer-contacts-city:focus 
{
    color: var(--logo-blue);
}

.footer-contacts {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.footer-contacts:hover,
.footer-contacts:focus 
{
    color: var(--logo-blue);
}

.list-footer li:nth-child(n + 2){
margin-top: 9px;
}

.btn-sections {
    background-color: var(--btn-sections);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    margin-right: 8px;
}

.btn-sections:hover,
.btn-sections:focus,
.btn-sections:active {
    color:var(--main-background);
    background-color:var(--logo-blue);
}

.list-project{
    display: flex;
    flex-wrap: wrap;
    list-style: none;  
}

.project-img{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-img:nth-child(3n){
    margin-right: 0px;
    margin-bottom: 0;
}

.project-img:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.grid-notes{
    padding: 20px 24px;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.box {
    text-decoration: none;
}

.project-name {
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project {
    color: var(--titel-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

