:root{
    --main-color: #212121;
    --titel-color: #757575;
    --main-background: #ffffff;
    --footer-background: #2F303A;
    --logo-blue: #2196F3;
    --logo-black: #000;
    --background-titel-button: #188CE8;
    --btn-sections: #F5F4FA;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    background-color:  var(--main-background);
    color: var(--main-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.logo-main{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-blue {
    color: var(--logo-blue);
}

.logo-black {
    color: var(--logo-black);
}

.logo-white{
    color: var(--main-background);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

}
.menu-link{
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--logo-blue);
}

.header-contacts {
    color: var(--titel-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--logo-blue);
}

.main-titel {
    color: var(--main-background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0;
    margin-bottom: 30px;
    width: 640px;
    letter-spacing: 0.06em;
    text-transform:uppercase;
}
    
.titel-button { 
    color: var(--main-background);
    border: none;
    background-color: var(--logo-blue);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.06em;
}

.titel-button:hover, 
.titel-button:focus {
    background-color: var(--background-titel-button);
}

.order-titel { 
    background-color: var(--footer-background);
    padding: 200px 0px;
}

.advantage {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
}

.advantage-text {
    font-weight: 400;
    line-height: 1.71;
    color: var(--titel-color);
}

.product-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.work {
    font-size: 16px;
    line-height: 1.19;
    color: var(--titel-color);
}

.footer {
    background-color: var(--footer-background);
}

.footer-contacts-city {
    color: var(--main-background);
    text-decoration: none;
    font-style: normal

}

.footer-contacts-city:hover,
.footer-contacts-city:focus 
{
    color: var(--logo-blue);
}

.footer-contacts {
 
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal
}

.footer-contacts:hover,
.footer-contacts:focus 
{
    color: var(--logo-blue);
}

.btn-sections {
    background-color: var(--btn-sections);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    
}

.btn-sections:hover,
.btn-sections:focus,
.btn-sections:active {
    color:var(--main-background);
    background-color:var(--logo-blue);
}

.box {
    text-decoration: none;
}
.project-name {
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project {
    color: var(--titel-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}




